@font-face {
	font-family: 'Nukamiso';
	font-weight: normal;
	font-style: normal;
	src: url(fonts/nukamiso__beta08.ttf) format("truetype");
}


/* minindo-verified haltmann FILE font */

@font-face {
	font-family: 'Primetime';
	font-weight: normal;
	font-style: normal;
	src: url(fonts/primetime-webfont.woff2) format("woff2");
}

/* haltmann logo font from hwcinternaldb */

:root {
	scrollbar-width: none;
}

body {
	background-color: #181818;
}

#background {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	z-index: -1;
	background-image: url('sg10.svg');
  	background-repeat: no-repeat;
	background-position: center;
	background-size: 33% 66%;
	filter: blur(2px) opacity(12.5%);
	opacity: 0;
}

#controls {
	width: 100vw;
	height: fit-content;
	justify-content: center;
	align-content: center;
	position: fixed;
	background-color: rgba(16, 16, 16, 0.85);
	border-bottom: 2px #ddd solid;
	transition: 3s;
	top: -172.5px;
}

#audio, #file_click {
	display: none;
}

#select {
	background-color: inherit;
	margin: auto;
	text-align: center;
	width: fit-content;
}


button {
	color: #ddd;
	font-family: 'Nukamiso';
	font-size: 1em;
}

body {
	color: #ddd;
	font-family: 'Nukamiso';
	margin: 0;
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 0px;
}

p {
	margin: 0;
	font-size: 1em;
}

h3 {
	font-size: 1.5em;
	margin-top: 0px;
	margin-bottom: 20px;
	color: gray;
}

h4,
.title {
	margin-left: 0px;
	margin-top: 0;
	color: gray;
}

.note {
	font-style: italic;
	margin-bottom: 20px;
	color: gray;
}

.archive {
	color: #ddd;
}


.date {
	color: gray;
}

#timeline {
	width: 67%;
	margin-top: 190px;
	opacity: 0;
}

#timeline_container {
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
	scrollbar-width: none;
}

.content {
	font-size: 1em;
	margin-left: 2em;
	margin-bottom: 20px;
}

tr {
	display: flex;
	flex-direction: column;
}

table {
	margin-left: 7em;
}

.double-entry {
	margin-bottom: 1em;
}

.AIRTH {
	color: #66DDAA;
}

.CCC {
	color: #9966cc;
}

.KIRBY {
	color: orchid;
}

.PAINT {
	color: teal;
}

.OTHER {
	color: gray;
}

.FOOLS {
	color: #c54b8c;
}

.NUGGET {
	color: #F4A460;
}

.GORK {
	color: #E3DAC9;
}

.SPIDA {
	color: #F0DC82;
}

.HCB {
	color: #4682B4;
}

.KITTY {
	color: #C8A2C8;
}

.RESPH {
	color: #963D7F;
}

.NOAKA {
	color: #778899;
}

#terminal {
	font-family: 'Nukamiso';
	display: block;
	margin-top: 2em;
	margin-left: 2em;
	white-space-collapse: collapse;
	p, span {
		display:inline;
	}
}

#scanlines {
	mix-blend-mode: multiply;
	filter: grayscale(100%);
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	opacity: 30%;
	height: 100%;
	background-repeat: repeat;
	background-position-y: 2px;
	animation: move 1s linear 0s forwards infinite;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKCAYAAAC0VX7mAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABXSURBVDhPrdKhDYBgDEThKzRIBCuhWQjPRlhWIgENhP7JjfA+9dSJpvEqT4HiUbe7EfEpVzeiBvvZjahBjW5EG5zciBocFjei3XBzI9ofHm5EXMrbDZB+9YgPBHp56akAAAAASUVORK5CYII=');
	pointer-events: none;
	z-index: 9999;
}

@keyframes move {
	from {
		background-position-y: 0px;
	}

	to {
		background-position-y: 10px;
	}
}